*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
html{
    font-size: 62.5%;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color: white;
}
header{
    margin-top: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 1.2rem;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
    transition: 0.5s ease;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease-in-out;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a.active{
    color: #b74b4b;
    transition: 0.6s ease-in-out;
    border-bottom: 3px solid #b74b4b;
}

.menu-toggle {
    display: none;
    font-size: 26px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}

/* Responsive styles */
@media (max-width: 700px) {
    nav ul {
        flex-direction: column;
        display: none;
        /* hide menu by default */
    }

    nav ul.active {
        display: flex;
        /* show when active */
    }

    .menu-toggle {
        display: block;
        /* show hamburger button */
    }
}

@media(max-width:900px){
    nav{
        position: absolute;
        top: 100%;
        right: -9.0rem;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom-left-radius: 1rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid black
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 2rem;
        margin: 1rem 0;
    }
    nav a:hover,nav a.active{
        padding: 1rem;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
}
}
@media(max-width:600px){
    nav{
        position: absolute;
        top: 100%;
        right: -7.0rem;
        width: 40%;
        border-left: 3px solid #b74b4b;
        border-bottom-left-radius: 1rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid black
    }
    nav.active{
        display: block;
    }
    nav a{
        display: block;
        font-size: 15px;
        margin: 1px 0;
    }
    nav a:hover,nav a.active{
        padding: 1px;
        border-radius: 0.5rem;
        border-bottom: 0.5rem solid #b74b4b;
}
}

section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}
.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}
span{
    color: #b74b4b;
}
.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.bio{
    font-size: 14px;
    margin-bottom: 20px;
}
.home-img {
    border-radius: 50%;
}
.home-img img{
    position: relative;
    border-radius: 50%;
    width: 32vw;
    box-shadow: 0.25px solid #b74b4b;
    cursor: pointer;
    transition: 0.2s linear;
}
.btn{
    display: inline-block;
    padding: 1.4rem 5.10rem;
    border-radius: 4rem;
    background: #b74b4b;
    text-decoration: none;
    color: #ffffff;
    font-size: 1.6rem;
    font-weight: bold;
    border: 2px solid #b74b4b;
    transition: 0.5s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.1);
    background-color: black;
    color: #ffffff;
    box-shadow: 0px 0.25px #b74b4b;
}

@media(max-width: 1000px){
    .home{
        gap: 4rem;
    }
}
@media(max-width: 905px){
    .home{
        flex-direction: column;
        margin: 5rem 4rem;
    }
    .home .home-content h3{
        font-size: 3.5rem;
    }
    .home-img img{
        width: 50vh;
        margin-top: 4rem;
    }
}
